<div class="tagline-upper text-center text-heading text-black mt-5 d-none d-lg-block" style="color: rgba(24, 74, 119, 0.95);
font-family: Pill_Gothic;
margin-top: 0.3em;
margin-bottom: 0.2em;">
  <img src="./assets/img/logo_pg.png" height="80em" alt="PG"> DS Online</div>
<!-- <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">DS Online mobilne</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" routerLink="/">Aktualności
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" routerLink="/gym">Siłownia</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" routerLink="/laundry">Pralnia</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" routerLink="/silence-room">Sala cichej nauki</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" routerLink="/report">Zgłoś usterkę</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-faded text-center py-5">
  <div class="container">
    <p class="m-0">Copyright &copy; 2017</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../assets/jquery/jquery.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>